html {
    font-size: 20px; 
    font-family: "Cormorant Garamond", serif;   
}

h2 {
    font-size: 60px;
    text-align: center;
}

p, li {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
  
}

.title {
    position: relative;
    top: 20px;
    left: 20px;
    padding: 5px 25px 25px 25px;
    width: 720px;
    height: 150px;
    border: 2px solid black;
}

.header {
    background: blueviolet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

  



 